#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  color: #1c0333;
  text-shadow: 1px 1px #FFF;
}

.hud-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: fit-content;
  padding: 8px 12px;
  margin-top: 24px;
  border-radius: 12px;
  background-color: darkmagenta;
  color: white;
}
.hud-bar p {
  padding: 4px;
  border:  0.5px dashed grey;
  border-radius: 12px;
}

.room-view {
  width: fit-content;
  margin: 24px 12px;
  padding: 16px;
  border: 1px solid #FFF;
  border-radius: 32px;
}
.room-view .choices {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}
.room-view button {
  width: fit-content;  
  border-radius: 6px;
  padding: 6px;
  color: #000;
  font-size: 16px;
  &.move {    
    background: linear-gradient(#3d4348, #1f2225);
    border: 1px solid #555;
    color: #d3d7db;
    &:hover {
      box-shadow: 0 0 4px rgba(100,200,255,0.4)
    }
  }
  &.pickup {
    background-color: linear-gradient(#6c5b3f, #4b3f2d);
    border: 1px solid #2f261c;
    color: #f4e8c1;
    &:hover {
      box-shadow: 0 0 4px rgba(255,210,100,0.3);
    }
  }
}
.room-view .message-toast {
  color: #f0d9a0;
  text-shadow: 0 0 3px rgba(240,217,160,0.4);
  padding: 4px;
  border-radius: 4px;
  margin-top: 8px;
  font-size: 14px;
}