#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

.card-wrapper {
  display: flex;
  gap: 12px;
}
.card-wrapper .card {
  background-color: grey;
  border: 1px solid black;
  padding: 16px;
  width: fit-content;
  border-radius: 18px;
}
.dice-roll-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.dice-roll-wrapper button {
  background-color: green;
  &.fail {
    background-color: red;
  }
}